<nav class="px-12 py-4 sm:flex sm:items-center sm:justify-between bg-[#302E39] h-[8vh]">
    <section class="flex justify-between">
    <img 
        src="https://cdn.icon-icons.com/icons2/4197/PNG/512/business_tech_abstract_concept_data_communication_network_digital_technology_internet_icon_262672.png" 
        class="sm:flex hidden h-12" 
        alt="CheckSupply Logo"
    />

    </section>
    <div [ngClass]="{'hidden':!menu, 'flex':menu}" class="sm:flex flex-col items-start mt-3 gap-2 sm:flex-row sm:m-0 transition-all ease-in-out duration-200 sm:bg-[#302E39] bg-[#BBBABC]">
    <a
        href="#detalles-empresa"
        
        class="sm:flex hidden sm:text-[#BBBABC] sm:hover:text-[#302E39] hover:bg-[#ead949] w-full text-left rounded py-2 px-4 mx-8 font-bold text-sm"
    >
        AGREGAR
    </a>
    <a
        href="#Companies"
        
        class="sm:flex hidden sm:text-[#BBBABC] sm:hover:text-[#302E39] hover:bg-[#ead949] w-full text-left rounded py-2 px-4 mx-8 font-bold text-sm"
    >
        EMPRESAS
    </a>
    </div>
</nav>