<style>
  .thead-border {
    border-bottom: 1px solid #BBBABC;
  }
</style>

<main class="flex flex-1 flex-col justify-center items-center">
  <h1 class="font-bold md:text-6xl text-4xl text-[#ead949] pt-40">CHECKSUPPLY</h1>
  <h3 class="font-semibold text-[#FDFBF6] md:text-2xl pb-2">Your online safety tool</h3>
  <p class="font-normal text-[#BBBABC] md:max-w-[70%] max-w-[90%] text-center md:py-10 py-6 md:text-lg text-sm">
    Effortlessly search for any enterprise's presence in our database for potential ties to malicious activities. Simply input the enterprise name or domain, and receive immediate results.
  </p>

  <div class="md:w-[70%] w-[90%] flex flex-col sm:py-4 py-2">
    <label 
      for="entity-name" 
      class="text-[#FDFBF6] px-6 py-2 md:text-lg text-sm"
    >
      Search if entity is already listed
    </label>
    <input
      id="entity-name"
      type="search" 
      placeholder="Entity name or domain"
      class="bg-[#FDFBF6] rounded-full py-4 px-6 text-[#242422] focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
    >
  </div>

  <section class="sm:w-[85%] w-full bg-[#FDFBF6] p-4 rounded-t-2xl flex sm:justify-around items-center sm:flex-row flex-col sm:mt-12 mt-4 transition-all ease-in-out duration-200">

    <div class="flex md:py-0 py-2 transition-all ease-in-out duration-200 justify-between">
      <div class="md:w-24 md:h-24 w-20 h-20 rounded-full bg-[#CB9F01]/40 flex justify-center items-center">
        <svg class="w-[50%] h-[50%] text-[#CB9F01]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>        
      </div>
      <div class="flex flex-col px-2 justify-center">
        <h3 class="text-[#242422] text-md font-semibold">
          Total Entities
        </h3>
        <h2 class="text-[#302E39] text-2xl font-bold">
          {{ empresas.length }}
        </h2>
        <h3 class="text-[#242422] text-sm font-semibold text-wrap">
          <strong class="text-[#004e35]">+ 16%</strong> last month
        </h3>

      </div>
    </div>

    <div class="flex md:py-0 py-2 transition-all ease-in-out duration-200">
      <div class="md:w-24 md:h-24 w-20 h-20 rounded-full bg-[#CB9F01]/40 flex justify-center items-center">
        <svg class="w-[50%] h-[50%] text-[#CB9F01]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>        
      </div>
      <div class="flex flex-col px-2 justify-center">
        <h3 class="text-[#242422] text-md font-semibold">
          Total Entities
        </h3>
        <h2 class="text-[#302E39] text-2xl font-bold">
          {{ empresas.length }}
        </h2>
        <h3 class="text-[#242422] text-sm font-semibold text-wrap">
          <strong class="text-[#004e35]">+ 16%</strong> last month
        </h3>

      </div>
    </div>

    <div class="flex md:py-0 py-2 transition-all ease-in-out duration-200">
      <div class="md:w-24 md:h-24 w-20 h-20 rounded-full bg-[#CB9F01]/40 flex justify-center items-center">
        <svg class="w-[50%] h-[50%] text-[#CB9F01]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>        
      </div>
      <div class="flex flex-col px-2 justify-center">
        <h3 class="text-[#242422] text-md font-semibold">
          Total Entities
        </h3>
        <h2 class="text-[#302E39] text-2xl font-bold">
          1,000
        </h2>
        <h3 class="text-[#242422] text-sm font-semibold text-wrap">
          <strong class="text-[#004e35]">+ 16%</strong> last month
        </h3>

      </div>
    </div>
    
  </section>
  
  <section class="sm:w-[85%] w-full bg-[#FDFBF6] p-8 rounded-b-2xl flex flex-col sm:my-12 my-8 transition-all ease-in-out duration-200">
    <h3 class="font-semibold text-[#242422] text-xl py-4">All Entities</h3>
    <div>
      
    </div>
    <table class="w-full self-center">
      <thead class="thead-border">
        <tr class="text-left md:text-md text-sm text-[#242422] font-bold">
          <th class="py-2">
            <div class="flex">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
              </svg>
              <p class="pl-2">Nombre</p>              
            </div>
          </th>
          <th class="lg:table-cell hidden">
            <div class="flex">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"/>
              </svg>            
              <p class="pl-1">Número</p>
            </div>
          </th>
          <th class="md:table-cell hidden">
            <div class="flex">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"/>
                <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"/>
              </svg>
              <p class="pl-1">Correo</p>              
            </div>
          </th>
          <!-- <th>Sitio</th> -->
          <th>
            <div class="flex">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M13.09 3.294c1.924.95 3.422 1.69 5.472.692a1 1 0 0 1 1.438.9v9.54a1 1 0 0 1-.562.9c-2.981 1.45-5.382.24-7.25-.701a38.739 38.739 0 0 0-.622-.31c-1.033-.497-1.887-.812-2.756-.77-.76.036-1.672.357-2.81 1.396V21a1 1 0 1 1-2 0V4.971a1 1 0 0 1 .297-.71c1.522-1.506 2.967-2.185 4.417-2.255 1.407-.068 2.653.453 3.72.967.225.108.443.216.655.32Z"/>
              </svg>
              <p class="pl-1">País</p>              
            </div>
          </th>
          <th class="sm:table-cell hidden">
            <div class="flex">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z" clip-rule="evenodd"/>
                <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
              </svg>
              <p class="pl-1">Facturación anual</p>              
            </div>
          </th>
          <th>
            <div class="flex">
              
              <p class="pl-1">Opciones</p>              
            </div>
          </th>
        </tr>
      </thead>

      <tbody
        class="text-wrap text-[#636265] md:text-md text-sm font-semibold tracking-wide"
        *ngFor="let empresa of empresas.slice(currentPage*pageSize, currentPage*pageSize+pageSize)"
      >
        <tr id="{{empresa.NombreEmpresa}}">
          <td class="py-8">{{ empresa.NombreEmpresa }}</td>
          <td class="lg:table-cell hidden">{{ empresa.NumeroTelefono }}</td>
          <td class="md:table-cell hidden">{{ empresa.CorreoElectronico }}</td>
          <!-- <td>{{ empresa.SitioWeb }}</td> -->
          <td>{{ empresa.Pais }}</td>
          <td class="sm:table-cell hidden">{{ empresa.Facturacion }}</td>
          <td>
            <a (click)="verEmpresa(empresa)" href="#detalles-empresa" class="flex hover:text-[#CB9F01] transition-all duration-200 ease-in-out">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm.5 5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm0 5c.47 0 .917-.092 1.326-.26l1.967 1.967a1 1 0 0 0 1.414-1.414l-1.817-1.818A3.5 3.5 0 1 0 11.5 17Z" clip-rule="evenodd"/>
              </svg>              
              Ver detalles
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <p class="text-[#242422] text-sm font-normal text-left py-8">Página {{currentPage + 1}} de {{totalPages}}</p>
    </div>
    <div class="flex justify-center">
      <button 
        (click)="previousPage()"
        *ngIf="currentPage > 0"
        class="hover:text-[#CB9F01]"
      >
        <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 8-4 4 4 4"/>
        </svg>
      </button>
      <button 
        (click)="nextPage()"
        [disabled]="currentPage >= empresas.length/pageSize - 1" 
        class="hover:text-[#CB9F01]"
      >
        <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
        </svg>
      </button>
    </div>
  </section>

  <section 
    id="detalles-empresa"
    class="sm:w-[85%] w-full bg-[#FDFBF6] p-8 rounded-2xl flex flex-col my-4 transition-all ease-in-out duration-200"
  >
    <h3 class="font-semibold text-[#242422] text-xl py-4">Detalles de empresa</h3>

    <div *ngIf="this.submitted" class="fixed top-10 left-10 rounded-lg bg-green-600 w-80 p-5 transition-all duration-300 ease-in-out">
      <h5 class="text-white text-lg font-semibold text-wrap">EMPRESA REGISTRADA</h5>
      <p class="text-white text-sm font-medium text-wrap">
        Una nueva empresa ha sido registrada exitosamente.
      </p>
    </div>
    <div *ngIf="this.edited" class="fixed top-10 left-10 rounded-lg bg-yellow-600 w-80 p-5 transition-all duration-300 ease-in-out">
      <h5 class="text-[#282828] text-lg font-semibold text-wrap">EMPRESA ACTUALIZADA</h5>
      <p class="text-[#282828] text-sm font-medium text-wrap">
        Una empresa ha sido registrada exitosamente.
      </p>
    </div>
    <div *ngIf="this.deleted" class="fixed top-10 left-10 rounded-lg bg-red-600 w-80 p-5 transition-all duration-300 ease-in-out">
      <h5 class="text-white text-lg font-semibold text-wrap">EMPRESA ELIMINADA</h5>
      <p class="text-white text-sm font-medium text-wrap">
        Una empresa ha sido eliminada exitosamente.
      </p>
    </div>

    <form 
      [formGroup]="form"
      (ngSubmit)="agregarEmpresa()"
      class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-3"
    >

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="Razon" class="text-[#242422] text-md font-semibold">Razón Social</label>
        <input
          placeholder="Ferreyros S.A."
          required 
          id="Razon"
          formControlName="Razon"
          type="text"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="NombreEmpresa" class="text-[#242422] text-md font-semibold">Nombre</label>
        <input
          placeholder="Ernst & Young"
          required 
          id="NombreEmpresa"
          formControlName="NombreEmpresa"
          type="text"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="IdentificacionFiscal" class="text-[#242422] text-md font-semibold">Identificación tributaria</label>
        <input
          placeholder="20100028698"
          required 
          id="IdentificacionFiscal"
          formControlName="IdentificacionFiscal"
          type="number"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="NumeroTelefono" class="text-[#242422] text-md font-semibold">Número</label>
        <input
          placeholder="987654321"
          required 
          id="NumeroTelefono"
          formControlName="NumeroTelefono"
          type="number"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="CorreoElectronico" class="text-[#242422] text-md font-semibold">Correo</label>
        <input
          placeholder="correo@empresa.com"
          required 
          id="CorreoElectronico"
          formControlName="CorreoElectronico"
          type="email"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="SitioWeb" class="text-[#242422] text-md font-semibold">Sitio</label>
        <input
          placeholder="empresa.com"
          required 
          id="SitioWeb"
          formControlName="SitioWeb"
          type="url"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="Direccion" class="text-[#242422] text-md font-semibold">Dirección física</label>
        <input
          placeholder="Dirección de empresa"
          required 
          id="Direccion"
          formControlName="Direccion"
          type="text"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="Pais" class="text-[#242422] text-md font-semibold">País</label>
        <input
          placeholder="Perú"
          required 
          id="Pais"
          formControlName="Pais"
          type="text"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="Facturacion" class="text-[#242422] text-md font-semibold">Facturación anual en dólares</label>
        <input
          placeholder="500000"
          required 
          id="Facturacion"
          formControlName="Facturacion"
          type="number"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>

      <div class="flex flex-col sm:py-4 py-2 justify-between">
        <label for="FechaEdicion" class="text-[#242422] text-md font-semibold">Fecha de última edición</label>
        <input
          required 
          id="FechaEdicion"
          formControlName="FechaEdicion"
          type="date"
          class="text-[##393937] text-sm font-medium p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
        />
      </div>
      <button 
        type="submit"
        *ngIf="!this.visible"
        class="bg-[#CB9F01] text-white font-semibold rounded col-start-1 w-[60%] py-2 transition-all duration-200 ease-in-out hover:bg-[#CB9F01]/60"
        [disabled]="this.form.invalid"
        [class.disabled]="this.form.invalid"
      >
        <i class="fas fa-plus pr-2"></i>
        Añadir producto
      </button>
      <button 
        (click)="habilitarFormulario()"
        *ngIf="this.visible && !this.able"
        class="bg-[#CB9F01] text-[#282828] font-semibold rounded col-start-1 w-[60%] py-2 transition-all duration-200 ease-in-out hover:bg-[#CB9F01]/60"
        [disabled]="this.form.invalid"
        [class.disabled]="this.form.invalid"
      >
        <i class="fas fa-plus pr-2"></i>
        Habilitar edición
      </button>
      <button 
        (click)="editarEmpresa()"
        *ngIf="this.visible && this.able"
        class="bg-[#004e35] text-white font-semibold rounded col-start-1 w-[60%] py-2 transition-all duration-200 ease-in-out hover:bg-[#004e35]/60"
        [disabled]="this.form.invalid"
        [class.disabled]="this.form.invalid"
      >
        <i class="fas fa-plus pr-2"></i>
        Editar empresa
      </button>
      <button 
        (click)="eliminarEmpresa()"
        *ngIf="this.visible && this.able"
        class="bg-[#760000] text-white font-semibold rounded col-start-1 w-[60%] py-2 transition-all duration-200 ease-in-out hover:bg-[#760000]/60"
      >
        <i class="fas fa-plus pr-2"></i>
        Eliminar empresa
      </button>
      <button 
        (click)="cancelar()"
        *ngIf="this.visible"
        class="bg-[#CB9F01] text-[#282828] font-semibold rounded col-start-1 w-[60%] py-2 transition-all duration-200 ease-in-out hover:bg-[#CB9F01]/60"
      >
        <i class="fas fa-plus pr-2"></i>
        Regresar
      </button>
    </form>
    
  </section>
  
</main>
<!-- <app-footer></app-footer> -->