<style>
  .thead-border {
    border-bottom: 1px solid #BBBABC;
  }
</style>

<main class="flex flex-1 flex-col justify-center items-center">
  <h1 class="font-bold md:text-6xl text-4xl text-[#CB9F01] pt-40">CHECKSUPPLY</h1>
  <h3 class="font-semibold text-[#FDFBF6] md:text-2xl pb-2">Your online safety tool</h3>
  <p class="font-normal text-[#BBBABC] md:max-w-[70%] max-w-[90%] text-center md:py-10 py-6 md:text-lg text-sm">
    Effortlessly search for any enterprise's presence in our database for potential ties to malicious activities. Simply input the enterprise name or domain, and receive immediate results.
  </p>

  <div class="md:w-[70%] w-[90%] flex flex-col sm:py-4 py-2">
    <label 
      for="entity-name" 
      class="text-[#FDFBF6] px-6 py-2 md:text-lg text-sm"
    >
      Search if entity is already listed
    </label>
    <input
      id="entity-name"
      type="text" 
      placeholder="Entity name or domain" 
      class="bg-[#343046] rounded-full py-4 px-6 text-[#FDFBF6] focus:outline-none focus:ring-2 focus:ring-[#CB9F01] focus:ring-opacity-50"
    >
  </div>

  <section class="sm:w-[85%] w-full bg-[#FDFBF6] p-4 rounded-t-2xl flex sm:justify-around items-center sm:flex-row flex-col sm:mt-12 mt-4 transition-all ease-in-out duration-200">

    <div class="flex md:py-0 py-2 transition-all ease-in-out duration-200 justify-between">
      <div class="md:w-24 md:h-24 w-20 h-20 rounded-full bg-[#CB9F01]/40 flex justify-center items-center">
        <svg class="w-[50%] h-[50%] text-[#CB9F01]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>        
      </div>
      <div class="flex flex-col px-2 justify-center">
        <h3 class="text-[##242422] text-md text-sm font-semibold">
          Total Entities
        </h3>
        <h2 class="text-[#302E39] text-2xl font-bold">
          {{ empresas.length }}
        </h2>
        <h3 class="text-[##242422] text-sm font-semibold text-wrap">
          <strong class="text-[#29BD9B]">+ 16%</strong> last month
        </h3>

      </div>
    </div>

    <div class="flex md:py-0 py-2 transition-all ease-in-out duration-200">
      <div class="md:w-24 md:h-24 w-20 h-20 rounded-full bg-[#CB9F01]/40 flex justify-center items-center">
        <svg class="w-[50%] h-[50%] text-[#CB9F01]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>        
      </div>
      <div class="flex flex-col px-2 justify-center">
        <h3 class="text-[##242422] text-md font-semibold">
          Total Entities
        </h3>
        <h2 class="text-[#302E39] text-2xl font-bold">
          {{ empresas.length }}
        </h2>
        <h3 class="text-[##242422] text-sm font-semibold text-wrap">
          <strong class="text-[#29BD9B]">+ 16%</strong> last month
        </h3>

      </div>
    </div>

    <div class="flex md:py-0 py-2 transition-all ease-in-out duration-200">
      <div class="md:w-24 md:h-24 w-20 h-20 rounded-full bg-[#CB9F01]/40 flex justify-center items-center">
        <svg class="w-[50%] h-[50%] text-[#CB9F01]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>        
      </div>
      <div class="flex flex-col px-2 justify-center">
        <h3 class="text-[##242422] text-md font-semibold">
          Total Entities
        </h3>
        <h2 class="text-[#302E39] text-2xl font-bold">
          1,000
        </h2>
        <h3 class="text-[##242422] text-sm font-semibold text-wrap">
          <strong class="text-[#29BD9B]">+ 16%</strong> last month
        </h3>

      </div>
    </div>
    
  </section>
  
  <section class="sm:w-[85%] w-full bg-[#FDFBF6] p-8 rounded-b-2xl flex flex-col sm:my-12 my-8 transition-all ease-in-out duration-200">
    <h3 class="font-semibold text-[##242422] text-xl py-4">All Entities</h3>
    <div>
      
    </div>
    <table class="w-full self-center">
      <thead class="thead-border">
        <tr class="text-left text-md text-[##242422] font-bold">
          <th class="py-2">Nombre</th>
          <th class="lg:table-cell hidden">Número</th>
          <th class="md:table-cell hidden">Correo</th>
          <!-- <th>Sitio</th> -->
          <th>País</th>
          <th class="sm:table-cell hidden">Facturación anual</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody
        class="text-wrap text-[##393937] text-md font-medium tracking-wide"
        *ngFor="let empresa of empresas, index as i"
      >
        <tr>
          <td id="{{empresa.NombreEmpresa}}" class="py-4">{{ empresa.NombreEmpresa }}</td>
          <td class="lg:table-cell hidden">{{ empresa.NumeroTelefono }}</td>
          <td class="md:table-cell hidden">{{ empresa.CorreoElectronico }}</td>
          <!-- <td>{{ empresa.SitioWeb }}</td> -->
          <td>{{ empresa.Pais }}</td>
          <td class="sm:table-cell hidden">{{ empresa.Facturacion }}</td>
          <td class="hover:text-[#CB9F01]">
            <a (click)="openModal(empresa,i)" href="#detalles-empresa">
              Ver detalles
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section 
    id="detalles-empresa"
    *ngIf="visible"
    class="sm:w-[85%] w-full bg-[#FDFBF6] p-8 rounded-2xl flex flex-col my-4 transition-all ease-in-out duration-200"
  >
    <h3 class="font-semibold text-[##242422] text-xl py-4">Detalles de empresa</h3>
    
    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-3">
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Razón Social</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.Razon }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Nombre</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.NombreEmpresa }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Identificación tributaria</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.IdentificacionFiscal }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Número</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.NumeroTelefono }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Correo</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.CorreoElectronico }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Sitio</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.SitioWeb }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Dirección física</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.Direccion }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">País</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.Pais }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Facturación anual en dólares</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.Facturacion }}</p>
      </div>
      <div class="flex flex-col sm:py-4 py-2">
        <p class="text-[##242422] text-md font-semibold">Fecha de última edición</p>
        <p class="text-[##393937] text-sm font-medium">{{ selectedEmpresa.FechaEdicion }}</p>
      </div>
    </div>

    <a (click)="cerrarModal()" class="cursor-pointer">
      Cerrar
    </a>
  </section>
</main>
<!-- <app-footer></app-footer> -->